
@font-face {
    font-family: 'pv';
    src: url(../font/PretendardVariable.woff2);
}
@font-face {
    font-family: 'pv-semi';
    src: url(../font/Pretendard-SemiBold.woff2);
}
*{ margin: 0;padding:0;}
ul,li {list-style: none;}
a{text-decoration: none;color:inherit}
*{box-sizing: border-box;}
:root {
     /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-sky:#35C5F0;
    --color-red:#ed2626;
    --color-gray-01:#cccccc;
    --color-gray-02:#707070;
    --color-gray-03:#666;
    --color-gray-04:#E0E0E0;
    --color-gary-05:##808080;
     /* App Colors */
    --color-primary:var(--color-sky);
    --color-accent:var(--color-red);
    --color-text-body:var(--color-gray-03);
    --color-text-subtitle:var(--color-gray-02);
    --color-text-assistant:var(--color-gary-05);
    --color-bg:var(--color-gray-04);
}
body {
    font-family: 'pv';
    width: 100%;
    min-width: 480px;
}

/* common */
.inner{
    width: 1280px;
    margin: auto;
    max-width: 100%;
}
.blind{
    display: none;
}

/* header */
.header-utill{
    display: flex;
    padding: 0px 4px;
    justify-content: flex-end;
    height: 34px;
}
.utill-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
}
.utill-list > li{
    display: flex;
    height: 34px;
    padding: 10px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.utill-list > li::after{
    content:'';
    width:1px;
    height: 11px;
    background-color: var(--color-gray-01);
   /*  background:url(../images/vertical-bar.png) no-repeat; */
}
.utill-list > li:last-child::after{
    display: none;
}
.utill-list > li > a{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color:var(--color-gray-02);
}
.header-main{
    display: flex;
    height: 68px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.header-main-left{
    display: flex;
    align-items: center;
    gap: 24px;
}
.header-main-left>h1{
    text-indent: -99999px;
    font-size: 0;
    width: 110px;
    height: 44.8px;
    background: url(../images/type-logo.png) no-repeat;
}
.search-box{
    display: flex;
    width: 468px;
    height: 48px;
    padding: 8px 24px;
    align-items: center;
    gap: 12px;
    border-radius: 10px;
    border: 1px solid var(--color-primary);
    background: #FFF;
}
.search-box label{
    display: none;
}
.search-box input{
    flex: 1 0 0;
    color: var(--color-gray-02);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border:none;
    outline:none;
}
.search-box .search-btn{
    width: 25px;
    height: 24px;
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/uil_search.png) no-repeat;
    border:none;
    outline: none;
}

.header-main-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}
.cart{
    display: block;
    width:36px ;
    height: 35px;
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/Group.png) no-repeat;
    background-size: contain;
    /* background: url(../images/Group.png) no-repeat center / contain */
}
.writing-btn{
    display: flex;
    height: 40px;
    padding: 0px 16px;
    align-items: center;
    gap: 6px;
    border-radius: 4px;
    background: var(--color-primary);
    border:none;
    color:var(--color-white);
}
.writing-list-more{
    display: block;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/fluent_chevron-up-16-filled.png) no-repeat center / contain;
    cursor: pointer;
}

#nav{
    border-top: 1px solid var(--color-gray-01);
    border-bottom: 1px solid var(--color-gray-01);
    position: relative;
}
#nav > .inner { 
    display: flex;
    height: 52px;
    padding: 10px;
    justify-content: space-between;
    /* align-items: center;
    align-self: stretch;  */
}

.nav-ranking-box > a {
    width: 200px;
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ranking-box > a > div {
    display: flex;
    align-items: center;
    flex: 1 0 0;
}
.ranking-num{
 font-size: 14px;
 width: 20px;
 height: 16px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.ranking-hot{
    text-indent: -9999px;
    background: url(../images/Vector.png) no-repeat center;
    width: 16px;height:16px;
    margin:0 10px 0 6px; 

}
.ranking-text{
    flex: 1 0 0;
    color: #000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

.ranking-more{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    text-indent: -9999px;
    font-size: 0;
    background: url(../images/fluent_chevron-up-16-filled-gray.png) no-repeat center;
}



/* gnb */
.all-menu-btn{
    border:none;
    outline: none;
    background: url(../images/all-menu-btn.png) no-repeat center;
    text-indent: -9999px;
    font-size: 0;
    padding: 8px;
    width: 36px;
    height: 36px;
}
.nav-left{
    display: flex;
    gap:24px;
}
.gnb{
    display: flex;
    align-items: center;
    gap: 12px;
}
.gnb>li{
    position: relative;
}
.gnb>li>a{
    display: flex;
    padding: 6px 16px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
}
.gnb>li:hover>.dep2-box{
    display: flex;
}
.dep2-box{
    position: absolute;
    left: 0 ;top:42px;
    display: flex;
    padding: 20px 0px 20px 24px;
    gap: 10px;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #000;
    background: #FFF;
    z-index: 1000;
    display: none;
}
.dep2-box-menu>ul{
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    border-right: 1px solid var(--color-gray-01);
    padding-right: 24px;
}
.dep2-box-menu>ul>li{
    display: flex;
    width: 216px;
    height: 40px;
    padding: 10px 8px;
    align-items: center;
    color:var(--color-gray-02);
    font-size: 16px;
    font-weight: 400;
    line-height:20px;
}
.dep2-box-menu>ul>li:hover{
    border-bottom: 1px solid var(--color-gray-02);
}
.dep2-box-banner>ul{
    display: flex;
    padding: 0px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
/* 전체메뉴  */
.all-menu-box{
    background-color:var(--color-white);
    border-bottom: 2px solid var(--color-primary);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    position: absolute;
    left:0;top:53px;
    z-index: 2000;
    width: 100%;
    display: none;

}
.all-menu-box>.inner{
    padding: 48px 0 100px 114px;
}
.all-menu-list{
    display: flex;
    gap:38px

}

.all-menu-list>li>a{
    display: flex;
    width: 240px;
    padding: 12px 2px;
    align-items: center;
    border-bottom: 1px solid var(--color-primary);
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}
.all-menu-dep2>li>a{
    display: flex;
    width: 240px;
    height: 40px;
    padding: 10px 8px;
    align-items: center;
    color: var(--color-gray-02);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
}
.all-menu-dep2>li>a:hover{
    border-bottom: 1px solid var(--color-gray-02);
}

/* 컨텐츠 컨테이너 */
.contents-container{
    padding-top: 20px;
}
/* 메인비주얼 */
#mainVisual{
    display: flex;
    justify-content: space-between;
    gap:28px;
}
#mainVisual img{
    width: 100%;
}

/* 퀵메뉴  */
#quickMenu{
    padding-top:40px;
}
.quick-menu-list{
    display:flex;
    justify-content: space-around;
}
.quick-menu-list>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:4px;
}
.quick-menu-list>li>a>span:last-child{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    font-weight: 400;
    
}
.content-box>.content-box-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 20px 10px;
}
.content-box>.content-box-title>h2{
    font-size: 20px;
    font-family: 'pv-semi'; 
    color:var(--color-black);
    line-height: 28px;
}
.content-box>.content-box-title>.more{
    font-weight: 600;
    font-size: 16px;
    color:var(--color-primary);
    line-height: 20px;
}
.imgbox img{
    width: 100%;
}
.interior-tip-card{
    display: flex;
    gap: 24px;
}
.interior-tip-card .textbox {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:var(--color-gray-02);
    margin-top: 10px;
}
.interior-tip-card .textbox strong{
    color:var(--color-primary);
}
.today-deal-card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.today-deal-card .textbox{
    margin-top: 8px;
}
.today-deal-card .textbox>h3{
    color: var(--color-gary-05);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
}
.today-deal-card .textbox>p{
    margin-top: 2px;
    overflow: hidden;
    color: var(--color-gray-03);
    text-overflow: ellipsis;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}
.today-deal-card .textbox>.price-zone{
    margin-top: 6px;
    color: var(--color-black);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; 
}
.today-deal-card .textbox>.price-zone>.card-sale-price{
    color:var(--color-primary);
}
.today-deal-card .textbox>.review-zone{
    margin-top: 10px;
    font-size:14px;
    line-height: 18px;
    color:var(--color-gary-05);
}
.today-deal-card .textbox>.review-zone>.point-star{
    font-weight: 600;
    color:var(--color-primary);
}
.today-deal-card .textbox>.review-zone>.point-text{
    font-weight: 600;
    color:var(--color-black);
}

.today-deal-card .textbox>.delivery-zone{
    margin-top: 6px;
    display: flex;
    gap:6px;
}
.today-deal-card .textbox>.delivery-zone>.free-delivery{
    border-radius: 10px;
    background-color: var(--color-gray-04);
    color: var(--color-gray-02);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding:4px 8px ;
}
.today-deal-card .textbox>.delivery-zone>.special-price{
    border-radius: 10px;
    background-color: var(--color-accent);
    color:var(--color-white);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    padding:4px 8px ;
}
footer{
    height: 300px;
    background-color: var(--color-gray-04);
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:992px) {
    .header-utill{display: none;}
    .search-box{display: none;}
    .writing-btn{display: none;}
    .header-main-right .search-btn{
        display: block;
        width: 36px;
        height: 34.714px;
        background: url(../images/mobile_search.svg) no-repeat center;
        text-indent: -9999px;
        font-size: 0;
        border:none;
        outline: none;
    }
    .header-main-left .mobile-all-menu-btn{
        display: block;
        width: 52px;
        height:52px;
        padding:8px;
        background: url(../images/all-menu-btn.png) no-repeat center;
        text-indent: -9999px;
        font-size: 0;
        border:none;
        outline: none;
    }
    .header-main-left{
        gap:12px;
    }
    .header-main-right{
        gap:12px;
    }
    #nav{
        display: none;
    }
    #mobileNav{
        width: 100%;
        overflow-x:auto;
        margin-top: 20px;
        display: block;
        border-top:1px solid var(--color-gray-02);
        border-bottom:1px solid var(--color-gray-02);
        padding:10px;
    }
    #mobileNav ul {
        display: flex;
        gap: 8px;
    }
    #mobileNav ul li{
        padding:6px 16px;
        color:var(--color-black);
        font-weight:600;
        font-size: 16px;
        line-height: 20px;
        flex-shrink: 0;
    }
    #mainVisual{
        gap:0;
    }
    .mainVisual-left{
        width: 100%;
    }
    .mainVisual-left img {
        width: 100%;
        min-width: 100%;
    }
    .mainVisual-right{
        display: none;
    }
    .quick-menu-list{
        flex-wrap: wrap;
        justify-content:flex-start;
        padding: 0 24px;
    }
    .quick-menu-list  li{
        width:20%;
        margin-bottom: 24px;
    }
    #interiorTip{
        padding: 0 16px;
    }
    .interior-tip-card{
        flex-wrap: wrap;
        gap: 16px;
    }
    .interior-tip-card li{
        width: calc(50% - 8px);
    }
    #todayDeal{
        padding: 0 16px;
    }
    .today-deal-card{
        flex-wrap: wrap;
        gap: 16px;
    }
    .today-deal-card li{
        width: calc(50% - 8px)
    }
}

@media screen and (max-width:560px) {
    .quick-menu-list  li img{
       max-width:48px;
    }
}

@media screen and (max-width:480px) {
    .quick-menu-list  li img{
        max-width: 40px;
    }
}

