@charset 'utf-8';
header,footer,nav,aside,main,section,article{display: block}
*{margin: 0;padding: 0}
ul,ol,li{list-style: none}
a{text-decoration: none;color: #000}
address{font-style: normal}
table{border-collapse: collapse}
caption,legend{display: none}
fieldset{border:none}
.blind{display: none}
.clearfix::after{content: '';display: block;clear: both}
