@charset "utf-8";
/* 초기화 */
*{margin: 0;padding: 0}
ul,ol,li{list-style: none;}
a{text-decoration: none;color:inherit}
h1,h2,h3,h4,h5,h6{font-weight: normal;font-size: 100%;}
body{line-height: 1;}
.cf::after{content: '';width: 0;height: 0;font-size: 0;display: block;clear: both;}
.blind{display: none;}
fieldset{border:none}