.wrapper{}
#header{}
#header .top-notice{
  display: flex;
  height: 40px;
  padding: 9px 0px 7px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Primary-black, #000);
}

#header .top-notice .notice-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#header .top-notice .notice-contents p{
  color: var(--Primary-white, #FFF);
  font-size:var(--body--normal--text-6xl--regular);
  font-weight: 400;
  line-height: 20px
}
#header .top-notice .notice-contents button{
 width: 24px;height: 24px;
 text-indent: -9999px;
 background: url(../img/ui_img/chevron_down.png) no-repeat center;
}

#header .header-top-menu{
  display: flex;
  height: 32px;
  justify-content: flex-end;
  align-items: center;
}

#header .header-top-menu .utility{
  display: flex;
  padding-right: 56px;
  align-items: center;
  gap: 24px;
}
#header .header-top-menu .utility li{
 color: var(--Neutral-neutral-700, #344054);
 font-size: var(--body--small--text-6xl--regular);
 font-weight: 400;
 line-height: 18px; 
}
#header .header-top-menu .utility li:hover{
  text-decoration: underline;
}

#header .header-contents{
  display: grid;
  grid-template-columns:1fr 3.4fr 2.63fr ;
  position: relative;;
  height: 48px;
}
#header .header-contents .logo{
  width:90px;height: 48px;
  background: url(../img/ui_img/logo1.png) no-repeat center;
  text-indent: -9999px;
  position: absolute;
  left:48px;
  bottom:15px
}
#header .header-contents nav{
  margin: auto;
}
#header .header-contents .gnb{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 0 10px;
}
#header .header-contents .gnb>li{
  font-size: var(--body--large--text-6xl--bold);
  color:var(--neutral--neutral-900);
  font-weight: 600;
  padding: 0 6px;
  height: 48px;
}
#header .header-contents .gnb>li.dep1-type-1{
  color:var(--neutral--neutral-400);
  font-weight: 400;
}
#header .header-contents .gnb>li>a{
  display:block;line-height:24px;
  display: flex;align-items: center;
  border:3px solid transparent;
  height: 48px;
}
#header .header-contents .gnb>li:hover>a{border-bottom:3px solid var(--neutral--neutral-900)}

.dep2-bg-box{
  display: none;
  position: absolute;
  left:0;
  top:48px;
  width: 100%; 
 background-color: var(--primary--white); 
 z-index: 1000;
}
.dep2-center-area{
  padding: 40px 20px 0 20px;
  margin: auto;
}
.dep2-links{
  display: flex;
}
.dep2-links>li:first-child{
  border-right: 1px solid var(--neutral--neutral-300);
  flex:1.2 1 0;
}
.dep1-type-1 .dep2-links>li:first-child{
  border-right: none;
  flex:1 1 0;
}
.dep1-type-1 .nav-title-img-box span{
  display: block;
}
.dep1-type-1 .nav-title-img-box span img{
  width: 100%;
}
.dep2-links>li{
  flex:1 1 0;
  padding-left: 20px;
}
.dep2-links>li>a{
 display: block;
 color:var(--primary--black);
 font-size: var(--body--normal--text-6xl--bold);
 font-weight: bold;
 line-height: 20px;
 margin-bottom: 12px
}
.dep2-links>li>a:hover{text-decoration: underline;}
.dep3-links{margin-bottom: 32px;}
.dep3-links>li{margin-bottom: 8px;}
.dep3-links>li:last-child{margin-bottom: 0px;}
.dep3-links>li>a{
  color:var(--primary--black);
  font-size: var(--body--normal--text-6xl--bold);
  font-weight: normal;
  line-height: 20px;
}
.dep3-links.blog>li:first-child{
  margin-bottom: 32px;
}
.dep3-links.blog>li>a>span{
  display: block;
  margin-bottom: 12px;
}
.dep3-links.blog>li>a>span>img {
  width:160px ;
}
.dep3-links>li>a:hover{text-decoration: underline;}

.link-all-view-box{
  padding: 0 20px;
  border-top:1px solid var(--neutral--neutral-300);
  background-color:var(--primary--white);
}
.link-all-view-box .dep2-center-area{
  padding-top: 0;
}
.link-all-view-list{
  display: flex;
  justify-content: space-between;
}

.link-all-view-list>li{
  padding: 10px 0 14px 0;
  color:var(--primary--black);
  font-size: var(--body--large--text-6xl--semibold);
  font-weight: bold;
  flex:1 1 0;

}
.link-all-view-list>li>a{display: block}
/* 해더의 검색창과 상단 유틸액션 아이콘  */
#header .header-contents .header-utility-box{
  display: flex;
  padding-right: 56px;
  justify-content: flex-end;
  align-items: center;
  gap:6px;
}

#header .header-contents .header-utility-box .btn-header-utility-action{
  display: flex;
}

.btn-header-utility-action li a{
  display: block;width: 48px;height: 48px;
  text-indent: -9999px;
}
.btn-header-utility-action li.login a{
  background:url(../img/ui_img/user_01.png) no-repeat center;
}
.btn-header-utility-action li.wishlist a{
  background:url(../img/ui_img/heart.png) no-repeat center;
}
.btn-header-utility-action li.cart a{
  background:url(../img/ui_img/shopping_bag_02.png) no-repeat center;
}
.search-box{ 
  background: var(--Neutral-neutral-200, #EAECF0);
  padding: 0 16px;
  width:240px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box #searchInput{
  height: 40px;padding: 4px 0;
  border:none;
  background: var(--Neutral-neutral-200, #EAECF0);;
}
.search-box .btn-search{
  width: 24px;height: 24px;background: url(../img/ui_img/search_sm.png) no-repeat center;font-size: 0;
}

video{width: 100%;}
#videoBox{position: relative;}
.video-summary-box{
  position: absolute;bottom: 84px;left:102px;
  height: 360px;
  z-index:50 ;
  
}
.video-summary-box .banner-title-box{position: absolute;top:0}
.video-summary-box .banner-des{font-size: 21px;color:var(--primary--white);font-weight: 500;
margin: 16px 0 20px 0;letter-spacing: -1px;}
.video-summary-box .btn-video-control{position:absolute;bottom:0;display: flex;gap:16px}
.video-summary-box .btn-video-control button{cursor: pointer;}

#contentArea{
  padding-top: 48px;
  padding-left: 30px ;
  padding-right: 30px;
}
.product-carousel-1 .carousel-tab-button-area{margin-bottom:32px ;margin-left: 10px;display: flex;gap:8px;}
.product-carousel-1 .carousel-tab-button-area button{
  border:1px solid var(--primary--black);
  padding: 12px;
  background-color:var(--primary--white);
  font-size: var(--body--large--text-6xl--semibold);
  line-height: 24px;
  color:var(--primary--black);
  font-weight: 600;
}
.product-carousel-1 .carousel-tab-button-area button.on,
.product-carousel-1 .carousel-tab-button-area button:hover{
  background-color:var(--primary--black);
  color:var(--primary--white)
  }
  
.product-carousel-1 .slider-card{
  border: 1px solid transparent;
}
.product-carousel-1 .slider-card:hover{
  border-color: var(--primary--black);
}
.product-carousel-1 .slider-card .card-thumnail-box{
  position: relative;
}
.product-carousel-1 .slider-card .card-thumnail-box button{
  position: absolute;right:12px;top:12px;z-index: 11;
}
.product-carousel-1 .slider-card .card-thumnail-box .price{
  position: absolute;left:6px;bottom: 0;z-index: 10;
  padding: 2px 4px;
  background-color: var(--primary--white);
  font-size: var(--body--normal--text-6xl--regular);
  line-height: 20px;
  cursor: pointer;
}
.product-carousel-1 .slider-card .card-thumnail-box .price:hover{
  bottom: 5px;
  transition: bottom 0.1s;
}
.product-carousel-1 .slider-card .card-title-box span{
 display: block;
}
.product-carousel-1 .slider-card .card-title-box{padding:8px 0 8px 6px}
.product-carousel-1 .slider-card .card-title-box .product-name{
  font-size: var(--body--large--text-6xl--regular);
  line-height: 24px;
  margin-bottom: 4px;
  color:var(--primary--black);
}
.product-carousel-1 .slider-card .card-title-box .product-category{
  font-size: var(--body--normal--text-6xl--regular);
  line-height: 20px;
  color:var(--neutral--neutral-500)
}
.product-carousel-2 {margin-top: 48px;}
.product-carousel-2 .card-title-box span:nth-child(1){
  display: block;
  color:var(--primary--black);
  font-size: var(--body--large--text-6xl--regular);
  font-weight: 600;
  line-height: 24px;
  margin: 6px 0;
}
.product-carousel-2 .card-title-box span:nth-child(2){
  display: block;
  color:var(--neutral--neutral-500);
  font-size: var(--body--small--text-6xl--regular);
  line-height: 18px;
}
.product-carousel-2  .card-price-box{
  margin-top: 28px;
  color:var(--neutral--neutral-700);
  line-height: 24px;
  font-size:var(--body--small--text-6xl--regular);
}
.product-carousel-2 .card-price-box a{text-decoration: underline;}

/* 플러그인 css수정 */
.swiper-slide{
  width: 22% !important;
}
.swiper-slide img{
  width: 100%;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
  bottom: 0;
  top:auto;
}
.product-tab-Swiper{
  padding-bottom: 36px;
}
.swiper-pagination-progressbar{
  background: var(--neutral--neutral-400,#98A2B3);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: var(--primary--black);
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 0;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev{
  width: 44px;height: 44px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next{
  width: 44px;height: 44px;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  content: '';
  background:url(../img/card/arrow-btn-right.png) no-repeat ;
  width: 44px;
  height: 44px;
}
.swiper-button-next:hover:after, .swiper-rtl .swiper-button-prev:hover:after{
  background-image:url(../img/card/arrow-btn-right-black.png);
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: '';
  background:url(../img/card/arrow-btn-left.png) no-repeat ;
  width: 44px;
  height: 44px;
}
.swiper-button-prev:hover:after, .swiper-rtl .swiper-button-next:hover:after{
  background-image:url(../img/card/arrow-btn-left-black.png);
}

.product-carousel-2  .swiper{overflow: visible;}

#brand-history{
  display: flex;
  gap: 40px;
  padding: 48px 30px;
  background-color: #faf8ce;
  margin-top: 80px;
}
#brand-history h2{
  color:var(--primary--black);
  font-size:  var(--title--lg--text-6xl--bold);
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 14px;
}
#brand-history p{
  color:var(--neutral--neutral-700);
  font-size:var(--body--normal--text-6xl--regular) ;
  line-height: 20px;
}

#membership-area{
  background-color: var(--primary--yellow);
  padding: 40px 30px;
  text-align: center;
}
#membership-area h2{
  margin-bottom: 14px;
  color: var(--primary--black);
  font-size: var(--title--xl--text-6xl--bold);
  font-weight: 700;
  line-height: 38px;
}
#membership-area p{
  color: var(--primary--black);
  font-size:var(--body--large--text-6xl--regular);
  line-height: 24px; 
  margin-bottom: 12px;
}

/* 미디어쿼리 */
@media (min-width: 1280px){
  #contentArea,#brand-history,#membership-area{
    padding-left: 108px;
    padding-right:108px;
  }
}

