.wrapper{}
#header{}
#header .top-notice{
  display: flex;
  height: 40px;
  padding: 9px 0px 7px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Primary-black, #000);
}

#header .top-notice .notice-contents{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

#header .top-notice .notice-contents p{
  color: var(--Primary-white, #FFF);
  font-size:var(--body--normal--text-6xl--regular);
  font-weight: 400;
  line-height: 20px
}
#header .top-notice .notice-contents button{
 width: 24px;height: 24px;
 text-indent: -9999px;
 background: url(../img/ui_img/chevron_down.png) no-repeat center;
}

#header .header-top-menu{
  display: flex;
  height: 32px;
  justify-content: flex-end;
  align-items: center;
}

#header .header-top-menu .utility{
  display: flex;
  padding-right: 56px;
  align-items: center;
  gap: 24px;
}
#header .header-top-menu .utility li{
 color: var(--Neutral-neutral-700, #344054);
 font-size: var(--body--small--text-6xl--regular);
 font-weight: 400;
 line-height: 18px; 
}
#header .header-top-menu .utility li:hover{
  text-decoration: underline;
}

#header .header-contents{
  display: grid;
  grid-template-columns:1fr 3.4fr 2.63fr ;
  position: relative;;
  height: 48px;
}
#header .header-contents .logo{
  width:90px;height: 48px;
  background: url(../img/ui_img/logo1.png) no-repeat center;
  text-indent: -9999px;
  position: absolute;
  left:48px;
  bottom:15px
}
#header .header-contents nav{
  margin: auto;
}
#header .header-contents .gnb{
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 0 10px;
}
#header .header-contents .gnb>li{
  font-size: var(--body--large--text-6xl--bold);
  color:var(--neutral--neutral-900);
  font-weight: 600;
  padding: 0 6px;
  height: 48px;
}
#header .header-contents .gnb>li.dep1-type-1{
  color:var(--neutral--neutral-400);
  font-weight: 400;
}
#header .header-contents .gnb>li>a{
  display:block;line-height:24px;
  display: flex;align-items: center;
  border:3px solid transparent;
  height: 48px;
}
#header .header-contents .gnb>li:hover>a{border-bottom:3px solid var(--neutral--neutral-900)}

.dep2-bg-box{
  display: none;
  position: absolute;
  left:0;
  top:48px;
  width: 100%; 
 background-color: var(--primary--white); 
 z-index: 1000;
}
.dep2-center-area{
  padding: 40px 20px 0 20px;
  margin: auto;
}
.dep2-links{
  display: flex;
}
.dep2-links>li:first-child{
  border-right: 1px solid var(--neutral--neutral-300);
  flex:1.2 1 0;
}
.dep1-type-1 .dep2-links>li:first-child{
  border-right: none;
  flex:1 1 0;
}
.dep1-type-1 .nav-title-img-box span{
  display: block;
}
.dep1-type-1 .nav-title-img-box span img{
  width: 100%;
}
.dep2-links>li{
  flex:1 1 0;
  padding-left: 20px;
}
.dep2-links>li>a{
 display: block;
 color:var(--primary--black);
 font-size: var(--body--normal--text-6xl--bold);
 font-weight: bold;
 line-height: 20px;
 margin-bottom: 12px
}
.dep2-links>li>a:hover{text-decoration: underline;}
.dep3-links{margin-bottom: 32px;}
.dep3-links>li{margin-bottom: 8px;}
.dep3-links>li:last-child{margin-bottom: 0px;}
.dep3-links>li>a{
  color:var(--primary--black);
  font-size: var(--body--normal--text-6xl--bold);
  font-weight: normal;
  line-height: 20px;
}
.dep3-links.blog>li:first-child{
  margin-bottom: 32px;
}
.dep3-links.blog>li>a>span{
  display: block;
  margin-bottom: 12px;
}
.dep3-links.blog>li>a>span>img {
  width:160px ;
}
.dep3-links>li>a:hover{text-decoration: underline;}

.link-all-view-box{
  padding: 0 20px;
  border-top:1px solid var(--neutral--neutral-300);
  background-color:var(--primary--white);
}
.link-all-view-box .dep2-center-area{
  padding-top: 0;
}
.link-all-view-list{
  display: flex;
  justify-content: space-between;
}

.link-all-view-list>li{
  padding: 10px 0 14px 0;
  color:var(--primary--black);
  font-size: var(--body--large--text-6xl--semibold);
  font-weight: bold;
  flex:1 1 0;

}
.link-all-view-list>li>a{display: block}
/* 해더의 검색창과 상단 유틸액션 아이콘  */
#header .header-contents .header-utility-box{
  display: flex;
  padding-right: 56px;
  justify-content: flex-end;
  align-items: center;
  gap:6px;
}

#header .header-contents .header-utility-box .btn-header-utility-action{
  display: flex;
}

.btn-header-utility-action li a{
  display: block;width: 48px;height: 48px;
  text-indent: -9999px;
}
.btn-header-utility-action li.login a{
  background:url(../img/ui_img/user_01.png) no-repeat center;
}
.btn-header-utility-action li.wishlist a{
  background:url(../img/ui_img/heart.png) no-repeat center;
}
.btn-header-utility-action li.cart a{
  background:url(../img/ui_img/shopping_bag_02.png) no-repeat center;
}
.search-box{ 
  background: var(--Neutral-neutral-200, #EAECF0);
  padding: 0 16px;
  width:240px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-box #searchInput{
  height: 40px;padding: 4px 0;
  border:none;
  background: var(--Neutral-neutral-200, #EAECF0);;
}
.search-box .btn-search{
  width: 24px;height: 24px;background: url(../img/ui_img/search_sm.png) no-repeat center;font-size: 0;
}

video{width: 100%;}
#videoBox{position: relative;}
.video-summary-box{
  position: absolute;bottom: 84px;left:102px;
  height: 360px;
  z-index:50 ;
  
}
.video-summary-box .banner-title-box{position: absolute;top:0}
.video-summary-box .banner-des{font-size: 21px;color:var(--primary--white);font-weight: 500;
margin: 16px 0 20px 0;letter-spacing: -1px;}
.video-summary-box .btn-video-control{position:absolute;bottom:0;display: flex;gap:16px}
.video-summary-box .btn-video-control button{cursor: pointer;}

#contentArea{
  padding-top: 48px;
  padding-left: 30px ;
}
.product-carousel-1 .carousel-tab-button-area{margin-bottom:32px ;margin-left: 10px;display: flex;gap:8px;}
.product-carousel-1 .carousel-tab-button-area button{
  border:1px solid var(--primary--black);
  padding: 12px;
  background-color:var(--primary--white);
  font-size: var(--body--large--text-6xl--semibold);
  line-height: 24px;
  color:var(--primary--black);
  font-weight: 600;
}
.product-carousel-1 .carousel-tab-button-area button.on,
.product-carousel-1 .carousel-tab-button-area button:hover{
  background-color:var(--primary--black);
  color:var(--primary--white)
  }
.slider-card .card-thumnail-box{
  position: relative;
}
.slider-card .card-thumnail-box button{
  position: absolute;right:12px;top:12px;z-index: 11;
}
.slider-card .card-thumnail-box .price{
  position: absolute;left:6px;bottom: 0;z-index: 10;
  padding: 2px 4px;
  background-color: var(--primary--white);
  font-size: var(--body--normal--text-6xl--regular);
  line-height: 20px;
  cursor: pointer;
}
.slider-card .card-thumnail-box .price:hover{
  bottom: 5px;
  transition: bottom 0.1s;
}
.slider-card .card-title-box span{
 display: block;
}
.slider-card .card-title-box{padding:8px 0 8px 6px}
.slider-card .card-title-box .product-name{
  font-size: var(--body--large--text-6xl--regular);
  line-height: 24px;
  margin-bottom: 4px;
  color:var(--primary--black);
}
.slider-card .card-title-box .product-category{
  font-size: var(--body--normal--text-6xl--regular);
  line-height: 20px;
  color:var(--neutral--neutral-500)
}
