*{margin: 0;padding: 0;}
li{list-style: none;}
a{text-decoration: none;color:inherit}

.header{
    height: 100px;
    border-bottom: 1px solid #999;
}
.inner{
    width: 960px;
    margin: auto;
}
.header .logo{
    float: left;
    line-height: 100px;
    font-size: 24px;
}
.header .gnb{
    float: right;
}
.header .gnb>li{
    float: left;
    width: 100px;height: 100px;
    text-align: center;
    line-height: 100px;
}
.header .gnb>li>a{
    display: block;
    width: 100px;
    height: 100px;
}
.header .gnb>li:hover{
    color:#fff;
    background-color: #000;
}

.main-banner{
    height: 700px;
    background: url(../img/page/bg2.jpg) no-repeat fixed  center top -200px;
    background-size: cover;
}
.container{
    padding: 80px 0;
}
.img_list{overflow: hidden;}
/*하위요소 플롯시 상위요소 높이 설정 */
.img_list>li{float: left;}
.news_list{overflow: hidden;margin-top: 16px;}
.news_list>li{
    float: left;
    width:320px;
    text-align: center;
}
.news_list>li>strong{
    display: block;
    font-size: 18px;
}
.news_list>li>p{
    font-weight: 14px;
}

.footer{
    background-color: #000;
}
.footer>address{
    color:#fff;
    text-align: center;
    font-style: normal;
    height: 80px;
    line-height:80px;
}