@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html,body{
  font-size: 16px;
  font-family: 'Noto Sans kr',sans-serif;
}
*{-webkit-text-size-adjust: none;}
a{display:block}
body{overflow-x: hidden;width: 100%;}
/* header */
header{
  height: 70px;
  background-color: #242424;
  position: relative;
}
header h1{
  height: 70px;
  width: 150px;
  margin: auto;
}
header h1 a{
  height: 100%;width: 100%; 
  text-indent: -9999px;font-size: 0;
  background: url(../img/icon/text-logo.png) no-repeat center;
  background-size: auto 31px ;
}
header .home-btn{
  text-indent: -9999px;
  width: 36px;height: 34px;
  background: url(../img/icon/toplogo.png) no-repeat center / 12px auto ;
  position: absolute;
  left:20px;top:18px;
}
header .menu-btn{
  text-indent: -9999px;width: 46px;height: 46px;
  background: url(../img/icon/menu-btn.png) no-repeat center / auto 28px ;
  position: absolute;right: 16px;top:12px;
}
.mainslider-list li{position: relative;}
.mainslider-list li img {width: 100%;}
.mainslider-list li a {width: 38.055vw;height:9.722vw;font-size: 3.888vw;letter-spacing: -1px;background-color: #fff;color:#515151;position: absolute;bottom:17.222vw;left:50%;transform:translateX(-50%);display: flex;justify-content: center;align-items: center;}
/* 구독 */
.subscribe-area{ padding:12.777vw 0}
.subscribe-area .subscribe-des{color:#36373b;font-size: 4.444vw;text-align: center;margin-bottom:7.5vw ;line-height: 8.333vw;}
.subscribe-area .subscribe-list li{
  text-align: center;
  margin-bottom: 3.333vw;
}
.subscribe-area .subscribe-list li img{width: 73.888vw;}

.subscribe-area .subscribe-btn{
  width: 64.722vw;height: 16.388vw;font-size: 4.166vw; color:#fff;background-color: #36373b ;
  text-align: center;line-height: 16.388vw;margin:8.055vw auto 0;
}

/* 메뉴 */
.menu-area{
  background:url(../img/menu-bg.png) no-repeat center / cover ; 
  padding:16.111vw 4.444vw 14.722vw;
}
.menu-area .menu-title{
  color:#fff;
  text-align: center;
  font-size: 9.444vw;
  position: relative;
  padding-top: 3.055vw;
}
.menu-area .menu-title::before{
  content: "";
  display: block;
  position: absolute;
  top:0;left:50%;transform: translateX(-50%);
  background-color:#1da4d9;
  width: 10.833vw;height:1.389vw ;
}
.menu-area .menu-title-sub{
  color:#1da4d9;
  text-align: center;
  margin-top: 4.166vw;
  font-size: 3.889vw;
  margin-bottom: 8.889vw;
}
.menu-area .menu-list{
  display: flex;
  flex-wrap: wrap;
 /*  gap: 9px */;
}
.menu-area .menu-list>li{
  width:calc(50% - 2.5vw)
}
.menu-area .menu-list>li:nth-child(2n+1){margin-right: 1.25vw;}
.menu-area .menu-list>li:nth-child(2n){margin-left: 1.25vw;} 
.menu-area .menu-list>li img{width: 100%;}
.menu-area .menu-list>li>a>span{display: block;}
.menu-area .menu-list>li .menu-thum-txt{
  text-align: center;
  color:#a1a1a1;
  padding:3.889vw 0
}
.menu-area .menu-list>li .menu-thum-txt strong{
  color:#fff;
  display: block;
  font-size:3.611vw ;
  margin-bottom: 2.5vw;
}
.menu-area .menu-list>li .menu-thum-txt .price{
  font-size: 3.055vw;
}
.menu-area  .menu-allview-btn{
  margin:auto;
  color:#fff;
  border:1px solid #464646;
  background-color:#1da4d9;
  width:45.55vw ;height:13.35vw ;
  margin-top:11.66vw;line-height:13.35vw;
  font-size: 3.6vw;text-align: center;
}
/* 베스트메뉴 */
.best-menu-area{
  background: #ebebeb;
  padding:9.444vw 4.166vw 7.777vw;
}
.best-menu-area img{width: 100%;}
.best-menu-area .best-title{
  color: #36373b;
  font-size:5.555vw;
  font-weight: 500;
  margin-left: 6.666vw;
  padding-top: 5.833vw;
  position: relative;
}
.best-menu-area .best-title::before{
  content: '';display: block;
  position: absolute;left:0;top:0px;
  height: 1.666vw;
  width: 10vw;
  background-color: #36373b;
}
.best-menu-area .best_title_sub{
  font-size:4.166vw;
  color:#5e6068;
  margin-top:3.888vw;
  margin-left: 6.666vw;
}
.best-menu-area .best-menu-box{
  margin-top: 4.722vw;
}
.best-menu-area .best-menu-box .best-list img{width: 100%;}
.best-menu-area .best-list .best-menu-txt{
  display: block;
  padding: 4.583vw 8.75vw;
  background-color: #fff;
}
.best-menu-txt span{display: block;}
.best-menu-txt .best-menu-des1{
  color:#4b4e54;
  font-size: 5.555vw;
  font-weight: 500;
}
.best-menu-txt .best-menu-des2{
  color: #606367;
  font-size: 3.333vw;
  margin-top: 4.444vw;
  line-height: 1.5;
  word-break:keep-all;
}
.best-list-pager{
  text-align: center;
  margin-top:6.944vw ;
}
.best-list-pager span{
  display: inline-block;
  width: 4.166vw;height: 4.166vw;
  background-color: #ddd;
  margin: 0 2.222vw;
  text-indent: -9999px;
  font-size: 0;
  border-radius: 50%;
}
.best-list-pager span.active{background-color: #fff;}
/* 커피매칭 */
.match-area{
  background-color: #242424;
  padding: 9.777vw 4.444vw;
}
.match-area .match-box{background: #fff;}
.match-area .match-box img{width: 100%;}
.match-box .match-txt-box{
  padding-top:15.277vw ;
  padding-bottom: 9.027vw;
  text-align: center;
}
.match-box .match-txt-box .match-title{
  color: #575756;
  font-size:10.277vw ;
  font-weight: 300;
} 
.match-box .match-txt-box .match-txt{
  color: #575756;
  font-size:3.666vw ;
  padding-top: 8.333vw;
  padding-bottom:11.666vw ;
} 
.match-box .match-txt-box .match-quiz-btn{
  display: inline-block;
  width:46.944vw ;height:15.694vw ;
  background-color: #00a1df;
  color:#fff;
  line-height:15.694vw ;
  font-size: 4.444vw;
} 
/*매장찾기 */
.shop-area{padding:8.33vw 4.44vw;}
.shop-area .shop-area-title{
  font-weight: 500;
  color:#00a1df;
  font-size:8.611vw;
  text-align: center;
  line-height: 1.15;
}
.shop-area .shop-area-title-sub{
  text-align: center;
  color: #666;
  font-size: 4.861vw;
  margin: 9.0277vw 0 8.75vw;
}
.shop-list{
  padding:7.777vw 9.722vw 6.666vw 10vw;
}
.shop-area dt{
 font-size: 5.138vw;
 color:#fff;
 background-color: #afafaf;
 width:34.444vw ;
 height: 7.777vw;
 line-height: 7.777vw;
 text-align: center;
 margin-bottom:5.833vw ;
}
.shop-list dd{
  font-size:3.333vw ;
  color:#666;
  padding-right: 3.333vw;
  padding-left: 3.333vw;
  position: relative;
  display: inline-block;
}
.shop-list dd:first-of-type{padding-left: 0;}
.shop-list dd:last-of-type{padding-right: 0;}
.shop-list dd::after{
  content: "";background-color: #666;
  position:absolute;
  right: 0;
  top:0;
  width: 1px;
  height: 100%;
}
.shop-list dd:last-child::after{display: none;}

.opening-hours{
  padding:0 9.722vw 10.555vw 10vw;
}
.opening-hours dt{width:22.5vw ;}
.opening-hours dd{font-size: 3.333vw;color:#666;margin-bottom:1.944vw;line-height: 1;}
.opening-hours dd span.day{font-weight: 500;position: relative;
padding-right: 3.333vw;margin-right: 3.333vw;}
.opening-hours dd span.time{font-weight: 400;}
.opening-hours dd span.day::after{
  content:"";display: block;
  position: absolute;
  background-color: #666;
  right: 0;top:50%;transform:translateY(-50%);width: 1px;height: 3.333vw;
}
.shop-area .shop-search-btn{
  width: 46.94vw;height: 15.83tw;line-height: 15.83vw;color:#fff;background-color: #00a1df;
  margin: 0 auto 13.88vw;text-align: center;font-size: 4.444vw;
}

.shop-list-box{margin: 0 3.888vw;}
.shop-list-box li {position: relative;}
.shop-list-box li img{width: 100%;}
.shop-list-box li .shop-list-title{
  position: absolute;top:2.5vw;right:2.777vw;
  background-color: #00a1df;font-size: 2.777vw;padding:1.388vw 2.222vw;
  color:#fff
}
/* 푸터 */
footer .policy-area{
  padding:2.222vw 0 ;
  background-color: #1da4d9;
  color:#fff;text-align: center;
  font-size: 3.333vw;line-height: 3.333vw;
}
footer .policy-area span{display: block;height: 3.333vw;margin-bottom:1.111vw ;}
footer .policy-area a{display: inline-block;padding-right:10px;margin-right: 10px;border-right: 1px solid #fff;height:  3.333vw;}
footer .policy-area a:last-child{border-right:none;margin-right: 0;padding-right: 0;}
footer .footer-menu-area{
  background-color: #363637;
  color:#fff;
  font-size: 3.333vw;
  padding-top:8.888vw;
  padding-left:  4.44vw;
  display: flex;
  flex-wrap: wrap;
  gap:5.555vw;
}
footer .footer-menu-area dl{
  margin-bottom: 9.444vw;
}
footer .footer-menu-area dl dt{
  font-size: 3.888vw;
  font-weight: 700;
  color:#9bcbde;
  margin-bottom:10.278vw;
}
footer .footer-menu-area dl dd{
  margin-bottom:3.333vw ;font-size: 3.333vw;
  letter-spacing: -1.5px;
}
footer address{
  text-align: center;color:#fff;height:8.333vw ;
  line-height: 8.333vw;background-color: #222;
  font-size: 2.777vw;
  font-style: normal;
}