@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html,body{
  font-size: 16px;
  font-family: 'Noto Sans kr',sans-serif;
}
*{-webkit-text-size-adjust: none;}
a{display:block}
body{overflow-x: hidden;}
/* header */
header{
  height: 70px;
  background-color: #242424;
  position: relative;
}
header h1{
  height: 70px;
  width: 150px;
  margin: auto;
}
header h1 a{
  height: 100%;width: 100%; 
  text-indent: -9999px;font-size: 0;
  background: url(../img/icon/text-logo.png) no-repeat center;
  background-size: auto 31px ;
}
header .home-btn{
  text-indent: -9999px;
  width: 36px;height: 34px;
  background: url(../img/icon/toplogo.png) no-repeat center / 12px auto ;
  position: absolute;
  left:20px;top:18px;
}
header .menu-btn{
  text-indent: -9999px;width: 46px;height: 46px;
  background: url(../img/icon/menu-btn.png) no-repeat center / auto 28px ;
  position: absolute;right: 16px;top:12px;
}
