@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
html,body{
  font-size: 16px;
  font-family: 'Noto Sans kr',sans-serif;
}
*{-webkit-text-size-adjust: none;}
a{display:block}
body{overflow-x: hidden;}
/* header */
header{
  height: 70px;
  background-color: #242424;
  position: relative;
}
header h1{
  height: 70px;
  width: 150px;
  margin: auto;
}
header h1 a{
  height: 100%;width: 100%; 
  text-indent: -9999px;font-size: 0;
  background: url(../img/icon/text-logo.png) no-repeat center;
  background-size: auto 31px ;
}
header .home-btn{
  text-indent: -9999px;
  width: 36px;height: 34px;
  background: url(../img/icon/toplogo.png) no-repeat center / 12px auto ;
  position: absolute;
  left:20px;top:18px;
}
header .menu-btn{
  text-indent: -9999px;width: 46px;height: 46px;
  background: url(../img/icon/menu-btn.png) no-repeat center / auto 28px ;
  position: absolute;right: 16px;top:12px;
}
.mainslider-list li{position: relative;}
.mainslider-list li img {width: 100%;}
.mainslider-list li a {width: 38.055vw;height:9.722vw;font-size: 3.888vw;letter-spacing: -1px;background-color: #fff;color:#515151;position: absolute;bottom:17.222vw;left:50%;transform:translateX(-50%);display: flex;justify-content: center;align-items: center;}
/* 구독 */
.subscribe-area{ padding:12.777vw 0}
.subscribe-area .subscribe-des{color:#36373b;font-size: 4.444vw;text-align: center;margin-bottom:7.5vw ;line-height: 8.333vw;}
.subscribe-area .subscribe-list li{
  text-align: center;
  margin-bottom: 3.333vw;
}
.subscribe-area .subscribe-list li img{width: 73.888vw;}

.subscribe-area .subscribe-btn{
  width: 64.722vw;height: 16.388vw;font-size: 4.166vw; color:#fff;background-color: #36373b ;
  text-align: center;line-height: 16.388vw;margin:8.055vw auto 0;
}