*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
 width: 1200px;
 margin: auto;   
}

.search-field{
    display: flex;
    justify-content: center;
}
.search-box{
    display: flex;
    margin: 20px 0;
}
#search{
    width: 600px;
    height: 30px;
    padding: 0 8px;
}
#searchBtn{
    width: 100px;
    height: 30px;
    background-color: #000;
    color:#fff;
    border:none;
    outline: none;
}

.video-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.video-item{
    width: calc(20% - 10px);
    border:1px solid #ccc;
    margin: 5px;
    padding:12px;
}
.video-item .thum-img img{
    width: 100%;
}
.video-txt h2{font-size: 14px;margin-bottom:8px;font-weight: normal;color:#333}
.video-txt p{font-size: 12px;color:#666;}

